header {
    font-family: "Comic Sans MS";
    background: url(images/photo.jpg) no-repeat
    fixed center bottom;
    color: #333333;
    font-size: 0.75em;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
}

.spittleList h1 {
    font-size: 16pt;
}

.spittleList ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

.spittleList ul li:first-child {
    border-top: 0px solid #cc061b;
}

.spittleList ul li {
    border-top: 1px solid #cc061b;
}

.spittleTime {
    font-size: 8pt;
}

.spittleLocation {
    font-size: 8pt;
}

.spittleForm h1 {
    font-size: 16pt;
}

label.error {
    color: red;
}

input.error {
    background-color: #ffcccc;
}

div.errors {
    background-color: #ffcccc;
    border: 2px solid red;
}