body {
    font-family: "Comic Sans MS";
}

.spittleList h1 {
    font-size: 16pt;
}

.spittleList ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

.spittleList ul li:first-child {
    border-top: 0px solid #cc061b;
}

.spittleList ul li {
    border-top: 1px solid #cc061b;
}

.spittleTime {
    font-size: 8pt;
}

.spittleLocation {
    font-size: 8pt;
}

.spittleForm h1 {
    font-size: 16pt;
}

label.error {
    color: red;
}

input.error {
    background-color: #ffcccc;
}

div.errors {
    background-color: #ffcccc;
    border: 2px solid red;
}